.productCard-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  overflow: hidden;
  margin-inline: auto;
  height: 350px;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}
.sareeProduct {
  position: absolute;
  width: 200px;
  height: 300px;
  left: max(calc(190px * 10));
  animation: scroll-left;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes scroll-left {
  to {
    left: -300px;
  }
}
.product-1 {
  animation-delay: calc(20s / 10 * (10 - 1) * -1);
}
.product-2 {
  animation-delay: calc(20s / 10 * (10 - 2) * -1);
}
.product-3 {
  animation-delay: calc(20s / 10 * (10 - 3) * -1);
}
.product-4 {
  animation-delay: calc(20s / 10 * (10 - 4) * -1);
}
.product-5 {
  animation-delay: calc(20s / 10 * (10 - 5) * -1);
}
.product-6 {
  animation-delay: calc(20s / 10 * (10 - 6) * -1);
}
.product-7 {
  animation-delay: calc(20s / 10 * (10 - 7) * -1);
}
.product-8 {
  animation-delay: calc(20s / 10 * (10 - 8) * -1);
}
.product-9 {
  animation-delay: calc(20s / 10 * (10 - 9) * -1);
}
.product-10 {
  animation-delay: calc(20s / 10 * (10 - 10) * -1);
}
