/* body{
    width: 100%;
    height: 100%;
} */
.contact-form-container {
  /* min-height: 100vh; */
  max-height: 100%;
  max-width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 1rem 5rem 1rem;
}

.contact-form-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.contact-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--font-body);
  margin-bottom: 0.75rem;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid #3a3a3a;
  border-radius: 0.5rem;
  padding: 0.875rem 1rem;
  color: #9ca3af;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s ease;
  font-weight: 500;
  font-family: var(--font-body);
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
  border-color: #6b7280;
}

.select-wrapper {
  position: relative;
}

.form-select {
  appearance: none;
  cursor: pointer;
  padding-right: 2.5rem;
  color: white; /* text color of selected value */
  background-color: black; /* select box bg color */
}

.form-select option {
  background-color: #000000;
  font-weight: 500;
  font-family: var(--font-body);
  color: #ffffff;
}

.form-input::placeholder,
.form-select::placeholder,
.form-textarea::placeholder {
  color: #4b5563;
}

.select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6b7280;
}

.form-textarea {
  resize: none;
  color: white;
  min-height: 120px;
}

.submit-button {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(189, 130, 79, 1) 0%,
    rgba(174, 92, 19, 1) 75%,
    rgba(148, 88, 42, 1) 100%
  );
  color: #000000;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 1rem;
  letter-spacing: 0.025em;
  font-weight: 500;
  font-family: var(--font-body);
}

.submit-button:hover {
  background-color: #78350f;
}

/* Responsive Design */
@media (max-width: 800px) {
  .contact-title {
    font-size: 32px;
    margin-bottom: 2rem;
  }
  .contact-form-container {
    padding: 6rem 1rem 5rem 1rem;
  }
  .contact-form-wrapper {
    width: 90%;
  }
  .contact-form {
    gap: 18px;
  }
  .form-label {
    font-size: 13px;
    margin-bottom: 8px;
    letter-spacing: 0;
  }

  .form-input,
  .form-select,
  .form-textarea {
    padding: 10px 12px;
    font-size: 13px;
  }
  .submit-button {
    color: #000000;
    font-weight: 700;
    padding: 14px;
    border-radius: 10px;
    font-size: 13px;
    letter-spacing: 0;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 24px;
    margin-bottom: 2rem;
  }
  .contact-form-container {
    padding: 6rem 1rem 5rem 1rem;
  }
  .contact-form-wrapper {
    width: 90%;
  }
  .contact-form {
    gap: 14px;
  }
  .form-label {
    font-size: 12px;
    margin-bottom: 8px;
    letter-spacing: 0;
  }

  .form-input,
  .form-select,
  .form-textarea {
    padding: 8px 10px;
    font-size: 12px;
  }
  .submit-button {
    color: #000000;
    font-weight: 700;
    padding: 12px;
    border-radius: 10px;
    font-size: 12px;
    letter-spacing: 0;
  }
}
