@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/brasika-display-trial");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";

:root {
  --font-heading: "Brasika Display - Trial", sans-serif;
  --font-body: 'Roboto', sans-serif;

  --color-primary: #FF6347;
  --color-secondary: #4CAF50;
  --color-neutral: #F5F5F5;
}

@font-face {
  font-family: "KOLAK";
  src: url("/public/fonts/Sangi\ Serif\ Font.ttf") format("truetype");
}
@font-face {
  font-family: "Spectral-regular";
  src: url("/public/fonts/spectral/Spectral-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Spectral-medium";
  src: url("/public/fonts/spectral/Spectral-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Spectral-bold";
  src: url("/public/fonts/spectral/Spectral-Bold.ttf") format("truetype");
}

.font1 {
  font-family: var(--font-heading);
}
.font2 {
  font-family: "Lato", sans-serif;
}
.font2-bold {
  font-family: "Spectral-bold";
}
.font2-medium {
  font-family: "Spectral-medium";
}

body {
  background-color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.signin,
.nav-item {
  color: white;
  cursor: pointer;
}
.signin:hover {
  color: brown;
}

.glass-card {
  visibility: hidden;
  opacity: 0;
  background: rgba(129, 129, 129, 0.31);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(96, 96, 96, 0.692);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.signin:hover .glass-card {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(68, 68, 68, 0.8),
    transparent
  );
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(56, 56, 56, 0.451),
    transparent,
    rgba(25, 25, 25, 0.436)
  );
}
